@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth-link {
    @apply text-blue-500 hover:underline cursor-pointer text-sm w-max;
  }
  .footer-heading {
    @apply capitalize text-[#5865F2];
  }
  .footer-link {
    @apply hover:underline cursor-pointer text-white text-sm capitalize;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.sidebar-animation {
  animation: sidebar-animation 200ms ease-out;
}

@keyframes sidebar-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
